{% extends 'base.html' %}
{% load cms_tags %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
<div id="content" class="page-content-wrap">

      <div class="container">

        <div class="entry-box style-2 var2">
          <div class="row">
            <div class="col-md-4 col-sm-12">

              <!-- entry -->
              <div class="entry">

                <!-- - - - - - - - - - - - - - Entry attachment - - - - - - - - - - - - - - - - -->
                <div class="thumbnail-attachment">
                  <a href="#"><img src="images/360x260_img1.jpg" alt=""></a>
                </div>

                <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->
                <div class="entry-body">

                  <div class="label">Featured</div>

                  <div class="entry-meta">

                    <time class="entry-date" datetime="2016-08-27">August 27, 2018</time>
                    <a href="#" class="entry-cat">News</a>
                    <a href="#" class="entry-cat">Admin</a>
                    <a href="#" class="entry-cat">3 comments</a>

                  </div>
                  <h4 class="entry-title"><a href="#">Donec Porta Diam Eu Massa</a></h4>
                  <p>Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. </p>
                  <a href="#" class="info-btn">Read More</a>

                </div>

              </div>

              <!-- entry -->
              <div class="entry">

                <a href="#" class="link-attachment">Link Post Example</a>

                <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->
                <div class="entry-body">

                  <div class="entry-meta">

                    <time class="entry-date" datetime="2016-08-15">August 15, 2018</time>
                    <a href="#" class="entry-cat">PROMOTIONAL</a>
                    <a href="#" class="entry-cat">Admin</a>
                    <a href="#" class="entry-cat">3 comment</a>

                  </div>

                </div>

              </div>

              <!-- entry -->
              <div class="entry">

                <!-- - - - - - - - - - - - - - Entry attachment - - - - - - - - - - - - - - - - -->
                <div class="thumbnail-attachment">
                  <div class="audio-frame">
                    <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/142827697&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
                  </div>
                </div>

                <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->
                <div class="entry-body">

                  <div class="entry-meta">

                    <time class="entry-date" datetime="2016-08-08">August 8, 2018</time>
                    <a href="#" class="entry-cat">Tips &amp; Tricks</a>
                    <a href="#" class="entry-cat">Admin</a>
                    <a href="#" class="entry-cat">0 comments</a>

                  </div>
                  <h4 class="entry-title"><a href="#">Vestibulum Libero Nisl</a></h4>
                  <p>Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget.</p>
                  <a href="#" class="info-btn">Read More</a>

                </div>

              </div>

              <!-- entry -->
              <div class="entry">

                <a href="#" class="link-attachment">Link Post Example</a>

                <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->
                <div class="entry-body">

                  <div class="entry-meta">

                    <time class="entry-date" datetime="2016-08-15">August 15, 2018</time>
                    <a href="#" class="entry-cat">PROMOTIONAL</a>
                    <a href="#" class="entry-cat">Admin</a>
                    <a href="#" class="entry-cat">3 comment</a>

                  </div>

                </div>

              </div>

            </div>
            <div class="col-md-4 col-sm-12">

              <!-- entry -->
              <div class="entry">

                <!-- - - - - - - - - - - - - - Entry attachment - - - - - - - - - - - - - - - - -->
                <div class="thumbnail-attachment">

                  <div class="carousel-type-2 style-2 var2">
                    <div class="owl-carousel owl-theme owl-responsive-992 owl-loaded" data-max-items="1">







                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-720px, 0px, 0px); transition: 0s; width: 2520px;"><div class="owl-item cloned" style="width: 360px; margin-right: 0px;"><div class="owl-item">
                        <img src="images/360x260_img3.jpg" alt="">
                      </div></div><div class="owl-item cloned" style="width: 360px; margin-right: 0px;"><div class="owl-item">
                        <img src="images/360x260_img4.jpg" alt="">
                      </div></div><div class="owl-item active" style="width: 360px; margin-right: 0px;"><div class="owl-item">
                        <img src="images/360x260_img2.jpg" alt="">
                      </div></div><div class="owl-item" style="width: 360px; margin-right: 0px;"><div class="owl-item">
                        <img src="images/360x260_img3.jpg" alt="">
                      </div></div><div class="owl-item" style="width: 360px; margin-right: 0px;"><div class="owl-item">
                        <img src="images/360x260_img4.jpg" alt="">
                      </div></div><div class="owl-item cloned" style="width: 360px; margin-right: 0px;"><div class="owl-item">
                        <img src="images/360x260_img2.jpg" alt="">
                      </div></div><div class="owl-item cloned" style="width: 360px; margin-right: 0px;"><div class="owl-item">
                        <img src="images/360x260_img3.jpg" alt="">
                      </div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""></div><div class="owl-next" style=""></div></div><div class="owl-dots" style="display: block;"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div></div></div></div>
                  </div>

                </div>

                <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->
                <div class="entry-body">

                  <div class="entry-meta">

                    <time class="entry-date" datetime="2016-08-23">August 23, 2018</time>
                    <a href="#" class="entry-cat">News</a>
                    <a href="#" class="entry-cat">Air Conditioning</a>
                    <a href="#" class="entry-cat">1 comment</a>

                  </div>
                  <h4 class="entry-title"><a href="#">Quis Autem Vel Eum</a></h4>
                  <p>Elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero </p>
                  <a href="#" class="info-btn">Read More</a>

                </div>

              </div>

              <!-- entry -->
              <div class="entry">

                <!-- - - - - - - - - - - - - - Entry attachment - - - - - - - - - - - - - - - - -->
                <div class="thumbnail-attachment">
                  <div class="responsive-iframe">

                    <iframe src="//player.vimeo.com/video/101619833?title=0&amp;byline=0&amp;portrait=0&amp;color=dedede" allowfullscreen=""></iframe>

                  </div>
                </div>

                <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->
                <div class="entry-body">

                  <div class="entry-meta">

                    <time class="entry-date" datetime="2016-08-17">August 10, 2018</time>
                    <a href="#" class="entry-cat">Tips &amp; Tricks</a>
                    <a href="#" class="entry-cat">Admin</a>
                    <a href="#" class="entry-cat">3 comments</a>

                  </div>
                  <h4 class="entry-title"><a href="#">Sed Ut Perspiciatis</a></h4>
                  <p>Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget.</p>
                  <a href="#" class="info-btn">Read More</a>

                </div>

              </div>

              <!-- entry -->
              <div class="entry">

                <div class="blockquote-holder with-bg">
                  <blockquote>
                    <p>“Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros.”</p>
                    <div class="author">Adam Smith, New York</div>
                  </blockquote>
                </div>

                <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->
                <div class="entry-body">

                  <div class="entry-meta">

                    <time class="entry-date" datetime="2016-08-21">August 21, 2018</time>
                    <a href="#" class="entry-cat">News</a>
                    <a href="#" class="entry-cat">Admin</a>
                    <a href="#" class="entry-cat">19 comment</a>

                  </div>

                </div>

              </div>

            </div>
            <div class="col-md-4 col-sm-12">

              <!-- entry -->
              <div class="entry">

                <div class="blockquote-holder with-bg">
                  <blockquote>
                    <p>“Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros.”</p>
                    <div class="author">Adam Smith, New York</div>
                  </blockquote>
                </div>

                <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->
                <div class="entry-body">

                  <div class="entry-meta">

                    <time class="entry-date" datetime="2016-08-21">August 21, 2018</time>
                    <a href="#" class="entry-cat">News</a>
                    <a href="#" class="entry-cat">Admin</a>
                    <a href="#" class="entry-cat">19 comment</a>

                  </div>

                </div>

              </div>

              <!-- entry -->
              <div class="entry">

                <!-- - - - - - - - - - - - - - Entry attachment - - - - - - - - - - - - - - - - -->
                <div class="thumbnail-attachment">
                  <div class="responsive-iframe">

                    <iframe src="https://www.youtube.com/embed/2o7vVjth_TU?rel=0&amp;showinfo=0&amp;autohide=2&amp;controls=0&amp;playlist=J2Y_ld0KL-4&amp;enablejsapi=1"></iframe>

                  </div>
                </div>

                <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->
                <div class="entry-body">

                  <div class="entry-meta">

                    <time class="entry-date" datetime="2016-08-17">August 17, 2018</time>
                    <a href="#" class="entry-cat">Repair</a>
                    <a href="#" class="entry-cat">Admin</a>
                    <a href="#" class="entry-cat">3 comments</a>

                  </div>
                  <h4 class="entry-title"><a href="#">Aliquam Dapibus Tincidunt</a></h4>
                  <p>Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget.</p>
                  <a href="#" class="info-btn">Read More</a>

                </div>

              </div>

              <!-- entry -->
              <div class="entry">

                <!-- - - - - - - - - - - - - - Entry attachment - - - - - - - - - - - - - - - - -->
                <div class="thumbnail-attachment">
                  <div class="audio-poster">

                      <img src="images/360x260_img10.jpg" alt="">

                      <div class="audioplayer1">
                        <div class="audioplayer"><audio preload="auto" controls="" style="width: 0px; height: 0px; visibility: hidden;">
                          <source src="audio/BlueDucks_FourFlossFiveSix.mp3">
                          <source src="audio/BlueDucks_FourFlossFiveSix.ogg">
                          <source src="audio/BlueDucks_FourFlossFiveSix.wav">
                        </audio><div class="audioplayer-playpause" title="Play"><a href="#">Play</a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 100%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:56</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title="Volume"><a href="#">Volume</a></div><div class="audioplayer-volume-adjust"><div><div style="height: 100%;"></div></div></div></div></div>
                      </div>

                    </div>

                </div>

                <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->
                <div class="entry-body">

                  <div class="entry-meta">

                    <time class="entry-date" datetime="2016-08-03">August 3, 2018</time>
                    <a href="#" class="entry-cat">hEATING</a>
                    <a href="#" class="entry-cat">Admin</a>
                    <a href="#" class="entry-cat">7 comments</a>

                  </div>
                  <h4 class="entry-title"><a href="#">Ut Tellus Dolor Dapibus </a></h4>
                  <p>Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget.</p>
                  <a href="#" class="info-btn">Read More</a>

                </div>

              </div>

            </div>
          </div>
        </div>

        <ul class="pagination">
          <li><a href="#" class="prev-page"></a></li>
          <li><a href="#">1</a></li>
          <li class="active"><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#" class="next-page"></a></li>
        </ul>

      </div>

    </div>
        {% endblock%}
