{% extends 'base.html' %}
{% load cms_tags %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
<div class="page-section">

        <div class="container">

          <div class="tabs vertical var2 style-2 tabs-section clearfix ui-tabs ui-widget ui-widget-content ui-corner-all">
            <!--tabs navigation-->
            <ul class="tabs-nav clearfix ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
              <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="0" aria-controls="tab-1" aria-labelledby="ui-id-1" aria-selected="true">
                <a href="#tab-1" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">Heater Installation/Replacement</a>
              </li>
              <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tab-2" aria-labelledby="ui-id-2" aria-selected="false">
                <a href="#tab-2" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2">Heater Repair/Maintenance</a>
              </li>
              <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tab-3" aria-labelledby="ui-id-3" aria-selected="false">
                <a href="#tab-3" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-3">Furnace Installation/Replacement</a>
              </li>
              <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tab-4" aria-labelledby="ui-id-4" aria-selected="false">
                <a href="#tab-4" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-4">Furnace Repair/Maintenance</a>
              </li>
              <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tab-5" aria-labelledby="ui-id-5" aria-selected="false">
                <a href="#tab-5" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-5">Heat Pump Services</a>
              </li>
              <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tab-6" aria-labelledby="ui-id-6" aria-selected="false">
                <a href="#tab-6" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-6">Boiler Repair</a>
              </li>
              <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tab-7" aria-labelledby="ui-id-7" aria-selected="false">
                <a href="#tab-7" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-7">Geothermal Heating</a>
              </li>
            </ul>
            <!--tabs content-->
            <div class="tabs-content">
              <div id="tab-1" aria-labelledby="ui-id-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="true" aria-hidden="false">

                <div class="content-element3">

                  <h2>Heater Installation/Replacement</h2>
                  <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. </p>

                </div>

                <div class="content-element3">
                  <img src="images/750x350_img1.jpg" alt="">
                </div>

                <p>Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. </p>

                <ul class="custom-list type-1">

                  <li>Donec porta diam eu massa.</li>
                  <li>Quisque diam lorem, interdum vitae, dapibus ac.</li>
                  <li>Donec eget tellus non erat lacinia fermentum.</li>
                  <li>Donec in velit vel ipsum auctor pulvinar. </li>

                </ul>

                <p>Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipis. Mauris accumsan nulla vel diam. </p>

                <a href="#" class="btn btn-style-5">Get Service Now</a>

              </div>
              <div id="tab-2" aria-labelledby="ui-id-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">

                <div class="content-element3">

                  <h2>Heater Repair/Maintenance</h2>
                  <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. </p>

                </div>

                <div class="content-element3">
                  <img src="images/750x350_img1.jpg" alt="">
                </div>

                <p>Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. </p>

                <ul class="custom-list type-1">

                  <li>Donec porta diam eu massa.</li>
                  <li>Quisque diam lorem, interdum vitae, dapibus ac.</li>
                  <li>Donec eget tellus non erat lacinia fermentum.</li>
                  <li>Donec in velit vel ipsum auctor pulvinar. </li>

                </ul>

                <p>Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipis. Mauris accumsan nulla vel diam. </p>

                <a href="#" class="btn btn-style-5">Get Service Now</a>

              </div>
              <div id="tab-3" aria-labelledby="ui-id-3" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">

                <div class="content-element3">

                  <h2>Furnace Installation/Replacement</h2>
                  <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. </p>

                </div>

                <div class="content-element3">
                  <img src="images/750x350_img1.jpg" alt="">
                </div>

                <p>Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. </p>

                <ul class="custom-list type-1">

                  <li>Donec porta diam eu massa.</li>
                  <li>Quisque diam lorem, interdum vitae, dapibus ac.</li>
                  <li>Donec eget tellus non erat lacinia fermentum.</li>
                  <li>Donec in velit vel ipsum auctor pulvinar. </li>

                </ul>

                <p>Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipis. Mauris accumsan nulla vel diam. </p>

                <a href="#" class="btn btn-style-5">Get Service Now</a>

              </div>
              <div id="tab-4" aria-labelledby="ui-id-4" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">

                <div class="content-element3">

                  <h2>Furnace Repair/Maintenance</h2>
                  <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. </p>

                </div>

                <div class="content-element3">
                  <img src="images/750x350_img1.jpg" alt="">
                </div>

                <p>Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. </p>

                <ul class="custom-list type-1">

                  <li>Donec porta diam eu massa.</li>
                  <li>Quisque diam lorem, interdum vitae, dapibus ac.</li>
                  <li>Donec eget tellus non erat lacinia fermentum.</li>
                  <li>Donec in velit vel ipsum auctor pulvinar. </li>

                </ul>

                <p>Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipis. Mauris accumsan nulla vel diam. </p>

                <a href="#" class="btn btn-style-5">Get Service Now</a>

              </div>
              <div id="tab-5" aria-labelledby="ui-id-5" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">

                <div class="content-element3">

                  <h2>Heat Pump Services</h2>
                  <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. </p>

                </div>

                <div class="content-element3">
                  <img src="images/750x350_img1.jpg" alt="">
                </div>

                <p>Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. </p>

                <ul class="custom-list type-1">

                  <li>Donec porta diam eu massa.</li>
                  <li>Quisque diam lorem, interdum vitae, dapibus ac.</li>
                  <li>Donec eget tellus non erat lacinia fermentum.</li>
                  <li>Donec in velit vel ipsum auctor pulvinar. </li>

                </ul>

                <p>Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipis. Mauris accumsan nulla vel diam. </p>

                <a href="#" class="btn btn-style-5">Get Service Now</a>

              </div>
              <div id="tab-6" aria-labelledby="ui-id-6" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">

                <div class="content-element3">

                  <h2>Boiler Repair</h2>
                  <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. </p>

                </div>

                <div class="content-element3">
                  <img src="images/750x350_img1.jpg" alt="">
                </div>

                <p>Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. </p>

                <ul class="custom-list type-1">

                  <li>Donec porta diam eu massa.</li>
                  <li>Quisque diam lorem, interdum vitae, dapibus ac.</li>
                  <li>Donec eget tellus non erat lacinia fermentum.</li>
                  <li>Donec in velit vel ipsum auctor pulvinar. </li>

                </ul>

                <p>Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipis. Mauris accumsan nulla vel diam. </p>

                <a href="#" class="btn btn-style-5">Get Service Now</a>

              </div>
              <div id="tab-7" aria-labelledby="ui-id-7" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">

                <div class="content-element3">

                  <h2>Geothermal Heating</h2>
                  <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. </p>

                </div>

                <div class="content-element3">
                  <img src="images/750x350_img1.jpg" alt="">
                </div>

                <p>Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. </p>

                <ul class="custom-list type-1">

                  <li>Donec porta diam eu massa.</li>
                  <li>Quisque diam lorem, interdum vitae, dapibus ac.</li>
                  <li>Donec eget tellus non erat lacinia fermentum.</li>
                  <li>Donec in velit vel ipsum auctor pulvinar. </li>

                </ul>

                <p>Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipis. Mauris accumsan nulla vel diam. </p>

                <a href="#" class="btn btn-style-5">Get Service Now</a>

              </div>
            </div>
          </div>

        </div>

      </div>
{% endblock content %}
