{% load static %}

<script src="{% static 'plugins/jquery.min.js' %}" ></script>
<script src="{% static 'plugins/owl.carousel.min.js' %}" ></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js" ></script>
<script src="{% static 'plugins/bootstrap.min.js' %}" ></script>
<script src="{% static 'OwlCarousel2-2.2.1/dist/owl.carousel.min.js' %}" ></script>
<script src="{% static 'plugins/waypoints.min.js' %}" ></script>
<script src="{% static 'plugins/jquery.counterup.min.js' %}" ></script>
<script src="{% static 'plugins/theme.js' %}" ></script>
