{% load static %}
<div class="page-section type2">
<div class="container">
<div class="carousel-type-2">
<div class="content-element4 align-center">
<h2 class="section-title">Наши партнеры</h2>
</div>

<div class="owl-carousel" data-autoplay="true" data-item-margin="30" data-max-items="6">
<div class="item-carousel"><a href="#"><img alt="" src="{% static 'images/condition/brand-1.png' %}" /></a></div>

<div class="item-carousel"><a href="#"><img alt="" src="{% static 'images/condition/brand-2.png' %}" /></a></div>

<div class="item-carousel"><a href="#"><img alt="" src="{% static 'images/condition/brand-3.png' %}" /></a></div>

<div class="item-carousel"><a href="#"><img alt="" src="{% static 'images/condition/brand-4.png' %}" /></a></div>

<div class="item-carousel"><a href="#"><img alt="" src="{% static 'images/condition/brand-5.png' %}" /></a></div>

<div class="item-carousel"><a href="#"><img alt="" src="{% static 'images/condition/brand-6.png' %}" /></a></div>
</div>
</div>
</div>
</div>
