<div class="page-section-bg">
<div class="container">
<div class="content-element4 align-center">
<h5 class="section-sub-title">Все категории</h5>

<h2 class="section-title">Выполненные работы</h2>
</div>

<div class="entry-box">
<div class="row">
<div class="col-md-4 col-sm-12">
<div class="entry">
<div class="thumbnail-attachment"><a href="#"><img alt="" src="/static/images/360x260_img4.jpg" /></a></div>

<div class="entry-body">
<div class="entry-meta"><time class="entry-date" datetime="2016-08-27">Август 27, 2018</time> <a class="entry-cat" href="#">Вентиляция</a></div>

<h4 class="entry-title"><a href="#">Первая работа</a></h4>

<p>Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo.</p>
<a class="info-btn" href="#">Посмотреть</a></div>
</div>
</div>

<div class="col-md-4 col-sm-12">
<div class="entry">
<div class="thumbnail-attachment"><a href="#"><img alt="" src="/static/images/360x260_img5.jpg" /></a></div>

<div class="entry-body">
<div class="entry-meta"><time class="entry-date" datetime="2016-08-15">Август 15, 2018</time> <a class="entry-cat" href="#">Отопление</a></div>

<h4 class="entry-title"><a href="#">Вторая работа</a></h4>

<p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu.</p>
<a class="info-btn" href="#">Посмотреть</a></div>
</div>
</div>

<div class="col-md-4 col-sm-12">
<div class="entry">
<div class="thumbnail-attachment"><a href="#"><img alt="" src="/static/images/360x260_img6.jpg" /></a></div>

<div class="entry-body">
<div class="entry-meta"><time class="entry-date" datetime="2016-08-07">Август 7, 2018</time> <a class="entry-cat" href="#">Кондиционирование</a></div>

<h4 class="entry-title"><a href="#">Третья работа</a></h4>

<p>Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros.</p>
<a class="info-btn" href="#">Посмотреть</a></div>
</div>
</div>
</div>
</div>

<div class="align-center"><a class="btn btn-small" href="#">Посмотреть все проекты</a></div>
</div>
</div>
